macro index,pager gi "<change-folder>!<enter><limit>~A<enter>" "Inbox"
macro index,pager g1 "<change-folder>!<enter><limit>=/ category:primary<enter>" "Primary inbox"
macro index,pager g2 "<change-folder>!<enter><limit>=/ category:promotions<enter>" "Promotions inbox"
macro index,pager g3 "<change-folder>!<enter><limit>=/ category:social<enter>" "Social inbox"
macro index,pager g4 "<change-folder>!<enter><limit>=/ category:updates<enter>" "Updates inbox"
macro index,pager g5 "<change-folder>!<enter><limit>=/ category:forums<enter>" "Forums inbox"
macro index,pager ga "<change-folder><kill-line>=[Gmail]/All<quote-char> Mail<enter>" "All Mail"
macro index V "<tag-pattern>~A<enter>" "Select visible messages"
macro index ,r "<tag-prefix-cond><clear-flag>N<end-cond>" "Mark selection read"
macro index ,u "<tag-prefix-cond><set-flag>N<end-cond>" "Mark selection unread"
macro index,pager ,l "<tag-prefix><copy-message>" "Add Gmail label by copying to its folder"
macro index,pager ,U "<tag-prefix><copy-message><kill-line>=Unsubscribe<enter>" "Add Unsubscribe label"
folder-hook . 'macro index,pager e "<enter-command>echo \"Open Inbox to archive\"<enter>"; macro index ,a "<enter-command>echo \"Open Inbox to archive\"<enter>"'
folder-hook '/INBOX$' 'macro index,pager e "<save-message><kill-line>=[Gmail]/All<quote-char> Mail<enter>" "Archive message"; macro index ,a "<tag-prefix-cond><save-message><kill-line>=[Gmail]/All<quote-char> Mail<enter><end-cond>" "Archive selection"'
