# Design: {{ .Title }}

## Context

{{ section .Section "context" }}

## Goals / Non-Goals

{{ section .Section "goals" }}

## Proposal

{{ section .Section "proposal" }}

## Decisions

{{ section .Section "decisions" }}

## Risks / Trade-offs

{{ section .Section "risks" }}

## Migration Plan

{{ section .Section "migration" }}

## Open Questions

{{ section .Section "openquestions" }}
