# RFC: {{ .Title }}

## Summary

{{ section .Section "summary" }}

## Motivation

{{ section .Section "motivation" }}

## Guide-level explanation

{{ section .Section "guide" }}

## Reference-level explanation

{{ section .Section "reference" }}

## Drawbacks

{{ section .Section "drawbacks" }}

## Rationale and alternatives

{{ section .Section "alternatives" }}

## Unresolved questions

{{ section .Section "unresolved" }}

## Future possibilities

{{ section .Section "future" }}
