apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - base

configMapGenerator:
  - name: app-config
    literals:
      - LOG_LEVEL=info

# Templated patch section; when delimiters present autocmd should flip filetype to gotmpl
patches:
  - target:
      kind: Deployment
      name: web
    patch: |
      {{/* yaml */}}
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: web
      spec:
        replicas: {{ .Values.replicas }}
        template:
          spec:
            containers:
              - name: web
                image: {{ .Values.image }}
