@-moz-document url("about:blank"), url("about:newtab"), url("about:home") {
  :root {
    color-scheme: dark light;
    background-color: var(--sysinit-base00);
    color: var(--sysinit-base05);
  }
}
